body {
    background-color: #101010;
    margin-inline: 5em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

section {
    border-bottom: solid 1px rgba(143, 188, 143, 0.5);
}

h1, h3 {
    color: rgb(143, 188, 143);
}

#name, #skills {
    margin-bottom: 0%;
    clear: both;
}

.inline{
    display: inline-block;
}

#div-contato {
    margin-top: 1.5em;
    margin-left: 1em;
}

a:link {
    color:rgb(143, 188, 143);
    text-decoration: none;
}

a:visited {
    color: #ADFF2F;
}

a:hover {
    color: white;
}

span {
    animation: animate 0.5s infinite linear;
}

@keyframes animate {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}