* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: white;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

p::selection, h1::selection {
    background-color: orange;
}

a:link {
    color: yellowgreen;
    text-decoration: none;
}

a:visited {
    color: orange;
}

a:hover {
    color: orange;
}

#box {
    margin-top: 2em;
    margin-bottom: 5em;
    width: 100%;
    float: inline-start;
    background-color: black;
    padding: 2em;
    font-size: large;
}

#box div{
    margin-top: 1em;
    width: 70%;
    float: inline-start;
}

img {
    width: 25%;
    height: auto;
    float: left;
    margin-left: 2em;
}

#box section div {
    width: 100%;
}

a img {
    width: 20%;
    height: auto;
    margin-bottom: 1em;
}

#gmail, #git {
    height: 3em;
}
